; Configuration file for Coverage.py - tool for measuring code coverage of Python programs.

[run]
branch = true
command_line = -m unittest discover --verbose --start-directory tests --pattern test_*.py
dynamic_context = test_function

source =
  src

omit =
  **/__pycache__
  .venv

[report]
; Don't fail due to missing coverage
fail_under = 0
show_missing = true

[html]
directory = htmlcov
show_contexts = true

[xml]
output = coverage.xml
