# bytecode-compiled
**/__pycache__

# Virtual environment
.venv/

# Node modules
node_modules/

# Artifacts from ruff
.ruff_cache/

# Artifacts from coverage
.coverage
coverage.xml
htmlcov/

# Generated leaderboard html
leaderboard_html/*.html
