# Ignore everything ...
*
# ... except css ...
!*.css
# ... and json ...
!*.json
# ... and markdown ...
!*.md
# ... and yaml ...
!*.yaml
# ... but make sure to check subdirectories (otherwise this doesn't work).
!*/
