/* Main container and default properties */
body {
  background-color: rgb(232 232 232);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* The header & footer share some styling */
header,
footer {
  background-color: rgb(50 50 50);
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  /* Always appear on top of other components */
  z-index: 100;
}

/* The header is fixed to the top */
header {
  position: fixed;
  top: 0;
}

/* The footer is fixed to the bottom */
footer {
  position: fixed;
  bottom: 0;
  /* Slightly reduced font size in the footer */
  font-size: 0.8em;
}

/* Header nav links look like buttons */
nav a {
  color: white;
  /* No underline */
  text-decoration: none;
  /* Fade in and out */
  transition: background-color 0.3s;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Footer links */
footer a {
  color: rgb(0 127 255);
  /* No underline */
  text-decoration: none;
}

/* Name column links */
.col-name a {
  color: black;
  /* No underline */
  text-decoration: none;
}

/* Header nav links have a different background for the active page and for hovering */
nav a.active,
nav a:hover {
  background-color: rgb(85 85 85);
}

/* Links which get the underline back on hover */
footer a:hover,
.col-name a:hover {
  text-decoration: underline;
}

/* Leaderboard container */
main {
  background-color: white;
  width: 80%;
  /* large top and bottom margin to be clear of the header and footer */
  margin: 60px auto;
  padding: 20px;
  border-radius: 5px;
  /* Look slightly 3d */
  box-shadow: 0 5px 5px rgba(0 0 0 / 10%);
}

/* Leaderboard table */
table {
  table-layout: fixed;
  width: 1000px;
  margin: 20px auto;
  /* No double borders */
  border-collapse: collapse;
}

/* Table header and table data share some styling */
th,
td {
  border: 1px solid rgb(200 200 200 / 10%);
  padding: 8px 12px;
  text-align: left;
}

/* Emphasize the table header row with a different background color */
th {
  background-color: rgb(232 232 232);
}

/* Alternate colors in table rows */
tr:nth-child(even) {
  background-color: rgb(242 242 242);
}

/* Rank */
.col-rank {
  width: 3%;
  text-align: right;
  padding-right: 4px;
}

/* Rank delta */
.col-delta-rank {
  width: 6%;
  padding-left: 4px;
}

/* Positive delta */
td.delta-pos {
  color: green;
}

/* Negative delta */
td.delta-neg {
  color: red;
}

/* Name */
.col-name {
  width: 32%;
}

/* Prepend BOT before bot's names */
td.col-name::before {
  content: "BOT";
  color: magenta;
  margin-right: 5px;
}

/* Flag */
.col-flag {
  width: 10%;
}

/* Rating */
.col-rating {
  width: 7%;
  text-align: right;
  padding-right: 4px;
}

/* Rating delta */
.col-delta-rating {
  width: 11%;
  padding-left: 4px;
}

/* Games */
.col-games {
  width: 11%;
}

/* Created */
.col-created {
  width: 11%;
}

/* Last Seen */
.col-last-seen {
  width: 11%;
}
