/* Main container and default properties */
body {
  background-color: rgb(232 232 232);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* The header & footer share some styling */
header,
footer {
  background-color: rgb(50 50 50);
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  /* Always appear on top of other components */
  z-index: 100;
}

/* The header is fixed to the top */
header {
  position: fixed;
  top: 0;
}

/* The footer is fixed to the bottom */
footer {
  position: fixed;
  bottom: 0;
  /* Slightly reduced font size in the footer */
  font-size: 0.8em;
}

/* No underline for any links by default */
a {
  text-decoration: none;
}

/* Header nav links look like buttons */
nav a {
  color: white;
  /* Fade in and out */
  transition: background-color 0.3s;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Footer links */
footer a {
  color: rgb(0 127 255);
}

/* Name column links */
.col-name a,
.col-rating a {
  color: black;
}

/* Header nav links have a different background for the active page and for hovering */
nav a.active,
nav a:hover {
  background-color: rgb(85 85 85);
}

/* Links which get the underline back on hover */
footer a:hover,
.col-name a:hover,
.col-rating a:hover {
  text-decoration: underline;
}

/* Leaderboard container */
main {
  background-color: white;
  width: 80%;
  /* large top and bottom margin to be clear of the header and footer */
  margin: 60px auto;
  padding: 20px;
  padding-top: 10px;
  border-radius: 5px;
  /* Look slightly 3d */
  box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

/* Leaderboard table */
table {
  table-layout: fixed;
  width: 1000px;
  margin: 20px auto;
  border-collapse: separate;
  border: 1px solid rgb(232 232 232);
  border-radius: 5px;
  border-spacing: 0;
}

/* Table header and table data share some styling */
th,
td {
  border: 1px solid rgb(200 200 200 / 10%);
  padding: 8px 10px;
  text-align: left;
}

/* Emphasize the table header row with a different background color */
th {
  background-color: rgb(232 232 232);
}

/* Alternate colors in table rows */
tr:nth-child(even) {
  background-color: rgb(242 242 242);
}

/* Rank */
.col-rank {
  width: 7%;
  text-align: right;
  padding-right: 4px;
}

/* Rank medal */
.col-rank-medal {
  float: left;
}

/* Rank delta */
.col-delta-rank {
  width: 5%;
  padding-left: 4px;
}

/* Positive delta */
td.delta-pos {
  color: green;
}

/* Negative delta */
td.delta-neg {
  color: red;
}

/* Name */
.col-name {
  width: 32%;
}

/* Shared attributes for online status */
span.bot-online,
span.bot-offline {
  display: inline-block;
  text-align: right;
  width: 5%;
}

/* Emphasize the bot's online status */
span.bot-online {
  color: green;
}

/* Deemphasize the bot's online status */
span.bot-offline {
  color: lightgray;
}

/* Emphasize "BOT" before bot's names */
span.bot-title {
  color: magenta;
}

/* Flag */
.col-flag {
  width: 6%;
  text-align: center;
}

/* The BabelStone Flags font is used for rendering flag emojis */
@font-face {
  /* Website: https://www.babelstone.co.uk/Fonts/Flags.html */
  /* License: https://www.babelstone.co.uk/Fonts/BabelStoneOFL.txt */
  font-family: "BabelStone Flags";
  /* No harm supporting older browsers with woff, but is this still necessary? */
  src: url("../fonts/BabelStoneFlags.woff2") format("woff2"), url("../fonts/BabelStoneFlags.woff") format("woff");
}

/* Use the flag emoji font defined above for flags */
td.col-flag {
  font-family: "BabelStone Flags", sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px 6px rgb(0 0 0 / 33%);
  padding: 2px;
}

/* Rating */
.col-rating {
  width: 7%;
  text-align: right;
  padding-right: 4px;
}

/* Rating delta */
.col-delta-rating {
  width: 7%;
  padding-left: 4px;
}

/* Rating deviation */
.col-rd {
  width: 5%;
}

/* Games */
.col-games {
  width: 8%;
  text-align: right;
  padding-right: 4px;
}

/* Games delta */
.col-delta-games {
  width: 5%;
  padding-left: 4px;
}

/* Created */
.col-age {
  text-align: right;
  width: 10%;
}

/* Last Seen */
.col-last-seen {
  text-align: right;
  width: 10%;
}
