{% extends "main_frame.html.jinja" %}

{% block content %}
  <p>
    <h1>{{ title }}</h1>
  </p>
  {%- for leaderboard in preview_leaderboards %}
    {% with
      title=leaderboard.title,
      perf_type_str=leaderboard.perf_type_str,
      leaderboard_rows=leaderboard.leaderboard_rows,
      preview=true
      %}
      {%- include "leaderboard_table.html.jinja" %}
    {% endwith %}
  {%- endfor %}
{%- endblock content %}
