{% extends "main_frame.html.jinja" %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Δ</th>
        <th>Name</th>
        <th>⚑</th>
        <th>Rating</th>
        <th>Δ</th>
        <th># Games</th>
        <th>Created</th>
        <th>Last Seen</th>
      </tr>
    </thead>
    <tbody>
      {%- for row in leaderboard_rows %}
        <tr>
          <td>{{ row.rank }}</td>
          <td {% if row.rank_delta.is_positive %}class="delta-pos"{% elif row.rank_delta.is_negative %}class="delta-neg"{% endif -%}>
            {{ row.rank_delta_str }}
          </td>
          <td>{{ row.username }}</td>
          <td>{{ row.flag }}</td>
          <td>{{ row.rating }}</td>
          <td>{{ row.rating_delta }}</td>
          <td>{{ row.games }}</td>
          <td>{{ row.created_date }}</td>
          <td>{{ row.last_seen_date }}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
{%- endblock content %}
