{% extends "main_frame.html.jinja" %}

{% block content %}
  {% with
    title=leaderboard.title,
    perf_type_str=leaderboard.perf_type_str,
    leaderboard_rows=leaderboard.leaderboard_rows
    %}
    {% include "leaderboard_table.html.jinja" %}
  {% endwith %}
{%- endblock content %}
