{% extends "main_frame.html.jinja" %}

{% block content %}
  {% with title=main_frame.title, perf_type_link=perf_type_link, leaderboard_rows=leaderboard_rows %}
    {% include "leaderboard_table.html.jinja" %}
  {% endwith %}
{%- endblock content %}
